/* header */
.header {
  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 10;
}

/* whole */
.whole {
  margin-top: 24px;
  margin-left: 3rem;
}

/* Search for your favorite groups in ATG */
.search {
  margin-top: 12px;
  margin-left: 6rem;
}

/* Create account. It’s free! */
.create-ac {
  margin-top: 19px;
  margin-right: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: right;
  color: #2e2e2e;
}
.section1 {
  padding-top: 70px;
}
.section1-div {
  padding-top: 0px;
  height: 500px;
  overflow: hidden;
  background: url(./images/index.jpeg) no-repeat center;
  background-size: cover;
}
.s1-condent {
  padding-top: 20rem;
  color: azure;
}
.s1-condent-span {
  font-weight: bolder;
}
.s1-condent,
p {
}
.s1-join-btn {
  display: none;
}
.s2-part1 {
  display: inline;
}
.s2-part2 {
  display: none;
}
.s3-div{
  display: none;
}

@media (max-width: 850px) {
  .header {
    display: none;
  }
  .section1-div {
    height: 330px;
  }
  .section1 {
    padding-top: 0px;
  }
  .s1-condent {
    padding-top: 14rem;
  }
  .s1-condent-span {
    font-weight: bolder;
    font-size: 30px;
  }
  .s1-condent,
  p {
    font-size: 15px;
  }
  .s1-join-btn {
    display: inline;
    position: absolute;
    left: 0pc;
    top: 38px;
  }
  .s2-part1 {
    display: none;
  }
  .s2-part2 {
    display: inline;
  }
  .s3-div {
    display: inline;
    z-index: 10;
    position: fixed;
    border-radius: 50px;
    padding: 13px;
    height: 55px;
    width: 55px;
    right: 2pc;
    bottom: 1pc;
    background: linear-gradient(180deg, #ff5c5c 0%, #f0568a 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
  }
  .s3-div-svg {
    width: 25px;
    height: 25px;
    top: 13px;
    position: absolute;
  }
}
